@toolbarWidth: 80px;
@sidebarWidth: 375px;
@collapsedWidth: 20px;

:root {
  --brand-primary: rgb(47, 112, 193);
  --brand-secondary: rgb(116, 97, 195);
  --slider-dots-selected-bg: #000;
  --slider-dots-bg: #ececec;
}

html {
  &[lang='de'] {
    .block.testimonials {
      p.testimonial {
        &::before {
          content: '„';
        }

        &::after {
          content: '“';
        }
      }
    }
  }

  &[lang='en'] {
    .block.testimonials {
      p.testimonial {
        &::before {
          content: '"';
        }

        &::after {
          content: '"';
        }
      }
    }
  }
}

.testimonials-wrapper {
  position: relative;
  overflow: hidden;
}

// when chaning the viewport margin, you should also change the testimonial-button's bottom padding.
.testimonials-viewport {
  margin-bottom: 24px;
}

.testimonial-container {
  display: flex;
  justify-content: space-evenly;
}

.testimonial-slide {
  min-width: 0;
  flex: 0 0 100%;

  .grid-teaser-item.top {
    height: 100%;
    background: #ececec;
  }
}

.testimonial-button {
  position: absolute;
  z-index: 10;
  width: 50px;
  height: 100%;
  padding: 0;
  padding-bottom: 24px;
  border: 0;
  margin: 0;
  -webkit-appearance: none;
  background-color: rgba(0, 0, 0, 0);
  color: #000;
  cursor: pointer;
  display: none;
}

.testimonial-button-prev {
}

.testimonial-button-next {
  right: 0;
  // In case you want to remove the buttons from the mobile view
  // @media only screen and (max-width: $computer-width) {
  //   display: none !important;
  // }
}

.testimonial-dot {
  display: flex;
  width: 46px;
  height: 20px;
  align-items: center;
  padding: 0;
  border: 0;
  margin: 0;
  margin-right: 13px;
  -webkit-appearance: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  touch-action: manipulation;
}

.testimonial-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-dot:after {
  width: 100%;
  height: 6px;
  background: var(--slider-dots-bg);
  content: '';
}

.testimonial-dot--selected:after {
  background: var(--slider-dots-selected-bg);
}

.block.testimonials {
  &:not(.inner):not([role='presentation']) {
    padding-bottom: 4em;
  }

  &:hover .testimonial-button {
    display: block;
  }

  .testimonial {
    margin: 20px 45px;
  }

  .teaser-item-title .person {
    display: flex;
    margin: 20px 45px;

    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin-right: 20px;
      object-fit: cover;
    }

    div {
      margin-top: auto;
      margin-bottom: auto;

      .name {
        font-weight: 900;
      }
    }
  }
}
